# Ignorar a pasta de compilação
build/
cmake-build-debug/
.CMakeLists.txt.swp
bin/

# Ignorar ficheiros de sistema ou IDE
.vscode/
.idea/
.DS_Store

# Ignorar ficheiros de configuração com passwords 
config/secrets.json
.env